/raptor*/target/*
.vagrant
nb*
/tmp
/data
/*/target
/target
*.log
/dist/*
/raptor-api/raptor-profile/target/
/raptor-api/raptor-inventory/target/
/raptor-api/raptor-auth-service/target/
/raptor-api/raptor-api-common/target/
/raptor-api/raptor-inventory.1/target/
/raptor-api/raptor-action/target/
/raptor-api/raptor-data/target/