/raptor*/target/*
.vagrant
nb*
/tmp
/data
/*/target
/target
*.log
/dist/*
/raptor-api/raptor-profile/target/
/raptor-api/raptor-inventory/target/
/raptor-api/raptor-auth/target/
/raptor-api/raptor-api-common/target/
/raptor-api/raptor-inventory.1/target/
/raptor-api/raptor-action/target/
/raptor-api/raptor-data/target/
/raptor-api/raptor-stream/target/
/raptor-api/raptor-tree/target/
/raptor-api/raptor-auth/target/
/raptor-api/raptor-gateway/target/
/raptor-api/raptor-broker/target/
/raptor-api/raptor-common/target/
/swagger/api
/raptor-api/raptor-standalone/target/