<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>-->
            <Pattern>%d{HH:mm:ss} %-5level %logger{0} - %msg%n</Pattern>
        </layout>
    </appender>    
    
    <!--<logger name="io.swagger.jackson" level="warn" />-->
    <!--<logger name="io.swagger.converter" level="warn" />-->
    <!--<logger name="io.swagger.jaxrs" level="warn" />-->

    <logger name="org.createnet.raptor" level="info" />
    <!--<logger name="springfox.documentation" level="debug" />-->
    <!--<logger name="org.springframework.web" level="debug" />-->
    
    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
