[Unit]
Description=Raptor

[Service]
ExecStart=/usr/bin/raptor -launch
ExecStop=killall -u raptor && sleep 2
User=raptor
KillMode=process

[Install]
WantedBy=multi-user.target
